/** Resets the margin and padding **/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.header {
    background-color: #1F2937;
    color: #F9FAf8;
    padding: 0px 100px;
}

.header a {
    color: #F9FAf8;
    
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 20px 250px;
    margin: 0;
}

nav a {
    text-decoration: none;
    padding-right: 10px;
}

.logo {
    font-weight: 900;
}

li.logo {
    margin-right: auto;
}

.block-one {
    padding: 100px 250px;
    display: flex;
    justify-content: space-between;
}

.block-two {
    
}

.block-two h2 {
    text-align: center;
}

#img1 {
    width: 700px;
    height: 400px;
}

.block-one-first-item h1 {
    font-size: 40px;
    margin: 0;
}

.cards
{
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
}